<div fxLayout="row wrap" style="height:100%;background-color:#57bd57;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column " style="width:100%;" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
    <div style="width:90%;height:90%">
      <div fxLayout="row wrap" style="height:100%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" (swipeRight)="swipeDetect($event,selectedIndex-1)" (swipeLeft)="swipeDetect($event,selectedIndex+1)">
        <div fxLayout="column wrap" style="height:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="height:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let slide of introList; let  i = index">
            <div fxLayout="column wrap" style="height:80%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" *ngIf="slide.show">
              <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" [@slideState]="swipeDirection">
                <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><span style="font-size:32px;text-align:center;padding-bottom:30px" class="white-font">
                  {{slide.title}}</span><span style="margin-bottom:15px;font-size:12px ; " class="white-font">
                  {{slide.description}}</span></div>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" style=" margin-top:15px;  position: fixed;     bottom: 15px;     padding: 23px;     left: 10px;     right: 10px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div *ngFor="let slide of introList; let i = index">
                <p class="dots" [class.is-active]="i === selectedIndex" (click)="changeSlide(i)"></p>
              </div>
            </div>
            <div fxLayout="row wrap" style="margin:25px 0px 30px 0px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="selectedIndex&lt;introList.length-1"><button mat-raised-button style="width:50%;font-weight:500" class="next-button" (click)="nextSlide()">Next</button></div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="selectedIndex&lt;introList.length-1"><span (click)="skip()" style="text-align:center;font-size:16px;border-bottom:2px white dashed;cursor:pointer" class="white-font">
                SKIP</span></div>
            <div fxLayout="row wrap" style="margin:30px 0px 30px 0px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="selectedIndex&gt;=introList.length-1">
              <p style="text-align:center" class="white-font">
                Wish to check your Account Balance? <span class="blue-font">Click Here</span></p>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false" *ngIf="selectedIndex &gt;= introList.length-1">
              <div fxLayout="row wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="font-weight:500;width:100%" class="signup-btn">Sign In</button></div>
              <div fxLayout="row wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="font-weight:500;width:100%" class="primary-button">Sign Up</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>