/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";


html,
body,
p {
  margin: 0;
}

.dots {
  height: 0.625em;
  width: 0.625em;
  background-color: rgba(71, 131, 242, 0.2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots.is-active {
  background-color: #ffffff;
}
.min-max {
    min-height: 330px;
    max-height: 500px;
}

.white-font{
    color: #ffffff;
}
.next-button{
    padding: 10px !important;
    border-radius: 50px !important;
}
.signup-btn{
    padding: 5px !important;
    border-radius: 50px !important;
}
.primary-button{
    padding: 5px !important;
    border-radius: 50px !important;
    background-color: #4783f2;
    color: #ffffff;
}

.blue-font{
    color: #4783f2 ;
}